<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 其他配置 -->
    <settings>
        <!-- 日志实现 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
        <!-- 其他配置项 -->
    </settings>
    <!-- TypeHandler 配置 -->
    <typeHandlers>
        <!-- 注册自定义的 TypeHandler -->
        <typeHandler handler="com.shiroTest.handler.typeHandler.MenuItemTypeHandler" javaType="com.shiroTest.function.quickMenu.MenuItem"/>
<!--        <typeHandler handler="com.example.typeHandler.CodeEnumTypeHandler" javaType="com.example.entity.enums.ComputerState"/>-->
    </typeHandlers>

    <!-- 映射器配置 -->
    <mappers>
        <!-- 指定 Mapper 接口所在的包 -->
<!--        <mapper class="com.example.mapper.UserMapper"/>-->
        <!-- 或者直接指定 Mapper 映射文件的路径 -->
        <!-- <mapper resource="com/example/mapper/UserMapper.xml"/> -->
        <package name="mapper"/>
<!--        <mapper resource="classpath:mapper/*.xml"/>-->
    </mappers>


</configuration>
